<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">F8 Blog</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Bên phải -->
				<div class="d-flex align-items-center ms-auto gap-3">
					<!-- Dropdown -->
					<div class="dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<img
								src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
								class="user-avatar"
							/>
							BYun
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li class="nav-item">
								<a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li class="nav-item">
								<a class="dropdown-item" href="/me/stored/courses">Khóa học của
									tôi</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="#">Đăng xuất</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div></div>
</nav>